<div class="container">
    <div class="filter">
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
        </ul>
    </div>
    <div class="product-list">
        <mat-grid-list cols="4" rowHeight="2:1">
            <div class="product-item" *ngFor="let product of products">
                <mat-grid-tile>
                    <div class="tile">
                        <div class="title-image">
                            <img *ngIf = "product?.volumeInfo?.imageLinks?.smallThumbnail" src = {{product.volumeInfo.imageLinks.smallThumbnail}}>
                            <img *ngIf = "!product?.volumeInfo?.imageLinks?.smallThumbnail" src = "../../../assets/catalog-default-img.gif">
                        </div>
                        <div class="title-name">
                            {{product.volumeInfo.title}}
                        </div>
                        <div *ngIf="product?.saleInfo?.saleability === 'FOR_SALE'" class="title-price">
                            {{product.saleInfo.listPrice?.currencyCode}} {{product.saleInfo.listPrice?.amount}}
                        </div>
                        <div *ngIf="product?.saleInfo?.saleability === 'NOT_FOR_SALE'" class="title-price">
                            NOT FOR SALE
                        </div>
                    </div>
                </mat-grid-tile>
            </div>
        </mat-grid-list>
    </div>
    
</div>