.navbar {
    display: flex;
    justify-content: flex-end;

    background-color: var(--primary-color);
    padding: 20px;

    &__elements {


        &--right {
            color: yellow;
            padding: 10px;
        }
    }
}