<!-- <span class="close-icon" (click)="closeModal()"></span> -->
<span class="previous" *ngIf="formType !== 1" (click)="openPreviousForm()">&laquo;</span>
<close-icon (click)="closeModal()"></close-icon>

<div class="loginForm" *ngIf="formType === 1">
    <form class="loginForm" [formGroup]="loginForm" (ngSubmit)="submitLoginForm()">
        
        <!-- Email -->
        <div>
            <div *ngIf="(loginForm.controls['EMAILID'].errors && loginForm.controls['EMAILID'].touched) || loginForm.controls['EMAILID'].dirty">
                <!-- <small *ngIf="loginForm.controls['EMAILID'].errors?.['required']" class="text-danger">Email is required</small> -->
                <small *ngIf="loginForm.controls['EMAILID'].errors?.['email']" class="text-danger">Please provide a valid email address</small>
            </div>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Email" formControlName="EMAILID" />
            </mat-form-field>
        </div>

        <!-- Password -->
        <div>
            <div *ngIf="(loginForm.controls['PASSWORD'].errors && loginForm.controls['PASSWORD'].touched) || loginForm.controls['PASSWORD'].dirty">
                <!-- <small *ngIf="loginForm.controls['PASSWORD'].errors?.['required']" class="text-danger">Password is required</small> -->
            </div>
            <mat-form-field class="example-full-width">
                <input matInput type="password" placeholder="Password" formControlName="PASSWORD" />
            </mat-form-field>
        </div>

        <div *ngIf="submissionErrorMsg">{{submissionErrorMsg}}</div>
        
        <!-- Submit -->
        <div class="button-wrapper">
            <button mat-raised-button color="primary">Login</button>
            <button mat-button (click)="toggleLoginForm()">Register</button>
        </div>

    </form>
</div>

<div class="OtpForm" *ngIf="formType === 2">
    <form [formGroup]="otpForm" (ngSubmit)="sendOtp()">
        
        <!-- Email -->
        <div>
            <div *ngIf="(otpForm.controls['EMAILID'].errors && otpForm.controls['EMAILID'].touched) || otpForm.controls['EMAILID'].dirty">
                <!-- <small *ngIf="loginForm.controls['EMAILID'].errors?.['required']" class="text-danger">Email is required</small> -->
                <small *ngIf="otpForm.controls['EMAILID'].errors?.['pattern']" class="text-danger">Please provide a valid email address</small>
            </div>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Email" formControlName="EMAILID" />
            </mat-form-field>
        </div>

        <div *ngIf="submissionErrorMsg">{{submissionErrorMsg}}</div>
        
        <!-- Submit -->
        <div class="button-wrapper">
            <button mat-raised-button color="primary">Verify Email</button>
        </div>

    </form>
</div>

<div class ="OtpVerificationForm" *ngIf="formType === 3">

    <form class="otpVerificationForm" [formGroup]="otpVerificationForm" (ngSubmit)="validateOtp()">

        <!-- Email -->
        <div>
            <mat-form-field class="example-full-width">
                <input [appCustomDisable]="formType === 3" matInput placeholder="Email" formControlName="EMAILID" />
            </mat-form-field>
        </div>

        <!-- otp -->
        <div>
            <!-- <ngx-otp-input [config]="otpInputConfig" formControlName="OTP"></ngx-otp-input> -->
            <ngx-otp-input [config]="otpInputConfig" (otpChange)="handeOtpChange($event)" (fill)="handleFillEvent($event)">
            </ngx-otp-input>
            
        </div>
    
        <div class="button-wrapper">    
            <button [disabled]="otpSeconds <= 0" mat-raised-button color="primary">Verify OTP</button>
        </div>

        <div *ngIf="submissionErrorMsg">{{submissionErrorMsg}}</div>

        <!-- <app-countdown-timer [seconds]=""></app-countdown-timer> -->
        <div>{{ timer$ | async | time}}</div>
        <div (click)="sendOtp()">Resend OTP</div>
        <div (click)="formType = formType - 1">Use a different email id</div>
    </form>

</div>

<div class="RegistrationForm" *ngIf="formType === 4">
    <form class="RegistrationForm" [formGroup]="registrationForm" (ngSubmit)="submitRegistrationForm()">

        <!-- Salutation -->
        <mat-form-field>
            <mat-label>Salutation</mat-label>
            <mat-select formControlName="TITLE">
                <mat-option value=1>Mr</mat-option>
                <mat-option value=2>Ms</mat-option>
                <mat-option value=3>Mrs</mat-option>
            </mat-select>
          </mat-form-field>
    
        <!-- First Name -->
        <div>
            <div *ngIf="(registrationForm.controls['FIRSTNAME'].errors && registrationForm.controls['FIRSTNAME'].touched) || registrationForm.controls['FIRSTNAME'].dirty">
                <!-- <small *ngIf="registrationForm.controls['FIRSTNAME'].errors?.['required']" class="text-danger">Your first name is required</small> -->
                <small *ngIf="registrationForm.controls['FIRSTNAME'].errors?.['pattern']" class="text-danger">Your first name should only contain alphabets</small>
            </div>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="First Name" formControlName="FIRSTNAME" />
            </mat-form-field>
        </div>
        
        <!-- Last Name-->
        <div>
            <div *ngIf="(registrationForm.controls['LASTNAME'].errors && registrationForm.controls['LASTNAME'].touched) || registrationForm.controls['LASTNAME'].dirty">
                <small *ngIf="registrationForm.controls['LASTNAME'].errors?.['pattern']" class="text-danger">Your last name should only contain alphabets</small>
            </div>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Last Name" formControlName="LASTNAME" />
            </mat-form-field>
        </div>

        <!-- Email -->
        <div>
            <div *ngIf="(registrationForm.controls['EMAILID'].errors && registrationForm.controls['EMAILID'].touched) || registrationForm.controls['EMAILID'].dirty">
                <!-- <small *ngIf="registrationForm.controls['EMAILID'].errors?.['required']" class="text-danger">Email is required</small> -->
                <small *ngIf="registrationForm.controls['EMAILID'].errors?.['pattern']" class="text-danger">Please provide a valid email address</small>
            </div>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Email" formControlName="EMAILID" />
            </mat-form-field>
        </div>

        <!-- Password -->
        <div>
            <div *ngIf="(registrationForm.controls['PASSWORD'].errors && registrationForm.controls['PASSWORD'].touched) || registrationForm.controls['PASSWORD'].dirty">
                <!-- <small *ngIf="registrationForm.controls['PASSWORD'].errors?.['required']" class="text-danger">Password is required</small> -->
                <!-- <small *ngIf="registrationForm.controls['PASSWORD'].errors?.['minLength']" class="text-danger">Please enter atleast 8 characters</small> -->
                <small *ngIf="registrationForm.controls['PASSWORD'].errors?.['pattern']" class="text-danger">Your password should be atleast 8 characters and contain atleast one uppercase character, one lowercase character, one number and one special character</small>
            </div>
            <mat-form-field class="example-full-width">
                <input type="password" matInput placeholder="Password" formControlName="PASSWORD" />
            </mat-form-field>
        </div>

        <!-- Re-enter Password -->
        <div>
            <div *ngIf="(registrationForm.controls['PASSWORD2'].errors && registrationForm.controls['PASSWORD2'].touched) || registrationForm.controls['PASSWORD2'].dirty">
                <!-- <small *ngIf="registrationForm.controls['PASSWORD2'].errors?.['required']" class="text-danger">Email is required</small> -->
                <small *ngIf="registrationForm.controls['PASSWORD2'].errors?.['email']" class="text-danger">Please provide a valid email address</small>
            </div>
            <mat-form-field class="example-full-width">
                <input type="password" matInput placeholder="Re-enter Password" formControlName="PASSWORD2" />
            </mat-form-field>
        </div>
        
        <!-- Gender -->
        <div class="misc-bottom-padding">
            <mat-label>Gender:</mat-label>
            <mat-radio-group aria-label="Select an option" formControlName="GENDER">
            <mat-radio-button value=1>Male</mat-radio-button>
            <mat-radio-button value=2>Female</mat-radio-button>
            </mat-radio-group>
        </div>
        <!-- Date picker -->
        <mat-form-field>
            <div *ngIf="(registrationForm.controls['DOB'].errors && registrationForm.controls['DOB'].touched) || registrationForm.controls['DOB'].dirty">
                <!-- <small *ngIf="registrationForm.controls['DOB'].errors?.['required']" class="text-danger">DOB is required</small> -->
            </div>
            <input
            [max]="maxDate"
            matInput
            readonly
            [matDatepicker]="picker"
            placeholder="Date of birth"
            formControlName="DOB"
            (dateChange)="date($event.target.value)"
            />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        
        <!-- Submit -->
        <div class="button-wrapper">
            <button mat-raised-button color="primary">Submit</button>
            <button mat-button (click)="toggleLoginForm()">Login</button>
        </div>
    </form>
</div>